<div class='container-fluid'>
  <h3 class='page-header'><%= t ("chaltron.logs.severity.#{@log.severity}") %></h3>
  <div class='row'>

    <div class='col-md-12'>
      <%= display_panel(@log) do %>
        <div class='panel-heading'><%= t '.headers.details' %></div>

        <ul class='list-group'>
          <li class='list-group-item'>
            <span><%= Log.human_attribute_name(:created_at) %>: </span>
            <strong><%= l(@log.created_at, format: :short) %></strong>
          </li>
          <li class='list-group-item'>
            <span><%= Log.human_attribute_name(:message) %>: </span>
            <strong><%= @log.message %></strong>
          </li>
          <li class='list-group-item'>
            <span><%= Log.human_attribute_name(:category) %>: </span>
            <strong><%= t ("chaltron.logs.category.#{@log.category}") %></strong>
          </li>
        </ul>
      <% end %>
    </div>


  </div>



  <hr>
  <%= back_link %>

</div>
