<%= bootstrap_form_for(@user, layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-10') do |f| %>

  <% if context == :create %>
    <%= f.text_field :username %>
    <%= f.text_field :fullname %>
    <%= f.email_field :email %>
    <%= f.password_field :password %>
    <%= f.password_field :password_confirmation %>
    <%= f.role_select %>
  <% elsif context == :update %>
    <% if current_user == @user %>
      <%= f.role_select disabled: 'user_admin' %>
    <% else %>
      <%= f.role_select %>
    <% end %>
  <% end %>

  <div class='form-group row'>
    <div class='col-sm-2'></div>
    <div class='col-sm-10'>
      <%= f.submit submit_text, class: 'btn btn-primary' %>
      <%= back_link class: 'btn btn-link float-right', text: t('.cancel_text'), icon: 'times' %>
    </div>
  </div>

<% end %>
