<% if ldap_enabled? %>
  <fieldset>
    <ul class='nav nav-pills nav-stacked'>
      <%= content_tag :li, class: (params[:provider].blank? ? 'active': '') do %>
        <%= link_to users_url(params.symbolize_keys.merge(provider: nil)) do %>
          <span class='badge pull-right'><%= User.count %></span>
          <%= t '.provider.all' %>
        <% end %>
      <% end %>
      <%= content_tag :li, class: (params[:provider] == 'local' ? 'active': '') do %>
        <%= link_to users_url(params.symbolize_keys.merge(provider: 'local')) do %>
          <span class='badge pull-right'><%= User.where(provider: nil).count %></span>
          <%= t '.provider.local' %>
        <% end %>
      <% end %>
      <%= content_tag :li, class: (params[:provider] == 'ldap' ? 'active': '') do %>
        <%= link_to users_url(params.symbolize_keys.merge(provider: 'ldap')) do %>
          <span class='badge pull-right'><%= User.where(provider: :ldap).count %></span>
          <%= t '.provider.ldap' %>
        <% end %>
      <% end %>
    </ul>
  </fieldset>
<% end %>

<fieldset>
  <legend><%= t '.activity.legend' %></legend>
  <ul class='nav nav-pills nav-stacked'>
  <%= content_tag :li, class: (params[:activity] == 'no_login' ? 'active': '') do %>
    <%= link_to users_url(params.symbolize_keys.merge(activity: 'no_login')) do %>
      <%= t '.activity.no_login' %>
      <span class='badge pull-right'><%= User.where(sign_in_count: 0).count %></span>
    <% end %>
  <% end %>
  </ul>
</fieldset>

<fieldset>
  <%= link_to nil, class: 'pull-right' do %>
    <%= icon(:remove) %>
    <strong><%= t '.clear_filter' %></strong>
  <% end %>
</fieldset>
