<div class='container-fluid'>
  <h3 class='page-header'><%= t '.title' %></h3>
  <div class='row'>
    <div class='col-md-3 side-filters'>
      <%= render 'side_filters' %>
      <hr>

      <div class='btn-group pull-right'>
        <%= content_tag :button, type: 'button', class: 'btn btn-primary dropdown-toggle',
          data: {toggle: 'dropdown'}, aria: {expanded: false} do %>
          <%= icon('plus') %>
          <%= t('.new_user') %> <span class="caret"></span>
        <% end %>
      <ul class='dropdown-menu' role='menu'>
        <li><%= link_to t('.new_ldap_user'), ldap_search_url %></li>
        <li><%= link_to t('.new_local_user'), new_user_url %></li>
      </ul>
    </div>

    </div>
    <div class='col-md-9'>
      <div class='panel panel-default'>
        <div class='panel-heading'>
          <h3 class='panel-title'><%= t '.panel_header' %></h3>
        </div>
        <div class='panel-body'>
          <%= content_tag 'table', id: 'users', class: 'table table-striped' do %>
            <thead>
              <tr>
                <th class='username'>
                  <%= User.human_attribute_name(:username) %>
                </th>
                <th class='fullname'>
                  <%= User.human_attribute_name(:fullname) %>
                </th>
                <th class='email'>
                  <%= User.human_attribute_name(:email) %>
                </th>
              </tr>
            </thead>
            <tbody>
              <%= render @users %>
            </tbody>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
