<div class='container-fluid'>
  <h3 class='page-header'><%= t '.title' %></h3>
  <div class='row'>
    <div class='col-md-3 side-filters'>
      <%= render 'side_filters' %>
    </div>

    <div class='col-md-9'>
      <%= content_tag 'table', id: 'users', class: 'table table-striped datatable' do %>
        <thead>
          <tr>
            <th class='username'>
              <%= User.human_attribute_name(:username) %>
            </th>
            <th class='fullname'>
              <%= User.human_attribute_name(:fullname) %>
            </th>
            <th class='email'>
              <%= User.human_attribute_name(:email) %>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td class='username'><%= user.username %></td>
              <td class='fullname'><%= user.fullname %></td>
              <td class='email'><%= user.email %></td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </div>
  </div>
</div>
