<div class='container-fluid'>
  <h3 class='page-header'><%= t('.title') %></h3>

  <%= bootstrap_form_for(current_user, as: :user, url: self_update_users_path, layout: :horizontal,
    label_col: "col-sm-3", control_col: "col-sm-9") do |f| %>
    <%= f.text_field :fullname %>
    <%= f.email_field :email %>

    <%= f.form_group label_col: 'col-sm-3' do %>
      <%= f.submit t('.submit_text'), class: 'btn btn-primary' %>
      <%= link_to users_path, class: 'btn btn-default pull-right' do %>
        <%= icon(:times) %>
        <%= t('chaltron.common.cancel') %>
      <% end %>
   <% end %>
  <% end %>

</div>
