<div class='container-fluid'>
  <h3 class='page-header'><%= t('.title') %></h3>

  <%= bootstrap_form_for(current_user, as: :user, url: self_update_users_path,
    layout: :horizontal) do |f| %>
    <%= f.text_field :fullname %>
    <%= f.email_field :email %>
    <% if current_user.provider.nil? %>
      <fieldset>
        <legend>Password</legend>
        <%= f.password_field :password %>
        <%= f.password_field :password_confirmation %>
      </fieldset>
    <% end %>
    <%= f.form_group class: 'form-actions' do %>
      <%= f.submit t('.title'), class: 'btn btn-primary' %>
      <%= link_to self_show_users_path, class: 'btn btn-default pull-right' do %>
        <%= icon(:times) %>
        <%= t('chaltron.common.cancel') %>
      <% end %>
    <% end %>
  <% end %>
</div>
