<div class='container-fluid'>
  <div class='row'>
      <div class='col-md-12'>
        <h3 class='pt-4'><%= t('.title') %></h3>

        <%= bootstrap_form_for(current_user, as: :user, url: self_update_users_path) do |f| %>
          <%= f.text_field :fullname %>
          <%= f.email_field :email %>
          <% if current_user.provider.nil? %>
            <fieldset>
              <legend>Password</legend>
              <%= f.password_field :password %>
              <%= f.password_field :password_confirmation %>
            </fieldset>
          <% end %>
          <%= f.form_group do %>
            <%= f.submit t('.submit'), class: 'btn btn-primary' %>
            <%= link_to self_show_users_path, class: 'btn btn-default pull-right' do %>
              <%= icon :times, t('chaltron.common.cancel') %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
</div>
