<div class='container-fluid'>
  <h3 class='page-header'><%= t('.title') %></h3>

  <%= bootstrap_form_for(current_user, as: :user, url: self_update_path, layout: :horizontal,
    label_col: "col-sm-3", control_col: "col-sm-9") do |f| %>
    <%= f.text_field :fullname %>
    <%= f.email_field :email %>
    <% if current_user.provider.nil? %>
      <fieldset>
        <legend>Password</legend>
        <%= f.password_field :password %>
        <%= f.password_field :password_confirmation %>
      </fieldset>
    <% end %>
    <div class='form-group'>
      <div class='col-sm-offset-3 col-sm-9'>
        <%= f.submit t('.title'), class: 'btn btn-primary' %>
        <%= link_to self_show_path, class: 'btn btn-default pull-right' do %>
          <%= icon(:times) %>
          <%= t('chaltron.common.cancel') %>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
