<div class='container-fluid'>
  <h3 class='page-header'><%= t('.title') %></h3>

    <%= content_tag :p, t('.par') %>

    <%= bootstrap_form_for(User.new, url: ldap_multi_create_path, method: :post,
      layout: :horizontal, html: {id: 'ldap_create'}) do |f| %>

      <%= f.form_group do %>
        <%= content_tag 'table', id: 'ldap_create', class: 'table table-striped table-condensed' do %>
          <thead>
            <tr>
              <th></th>
              <th class='username'>
                <%= User.human_attribute_name(:username) %>
              </th>
              <th class='fullname'>
                <%= User.human_attribute_name(:fullname) %>
              </th>
              <th class='email'>
                <%= User.human_attribute_name(:email) %>
              </th>
              <th class='department'>
                <%= User.human_attribute_name(:department) %>
              </th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: 'entry', collection: @entries %>
          </tbody>
        <% end %>
      <% end %>

      <%= f.role_select %>

      <%= f.form_group class: 'form-actions' do %>
        <%= f.submit t('.submit_text'), class: 'btn btn-primary' %>
        <%= back_link class: 'btn btn-default pull-right',
          text: t('chaltron.common.cancel'), icon: 'times' %>
      <% end %>

    <% end %>
</div>
