<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.text_field :login, placeholder: t('.login_placeholder') %>
  <%= f.password_field :password, placeholder: 'Password' %>
  <% if devise_mapping.rememberable? %>
    <%= f.check_box :remember_me, label: t('.remember_me') %>
  <% end %>
  <%= f.submit t('.submit_text'), class: 'btn btn-primary' %>
  <hr>
  <p>
    <strong><%= link_to t('.link_text'), new_password_path(resource_name) %> </strong>
  </p>
<% end %>
