<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>
  <%= f.input :username, placeholder: "Username", autofocus: 'autofocus', required: false %>
  <%= f.input :password, placeholder: "Password" %>
  <% if devise_mapping.rememberable? %>
    <div class='form-group'>
      <div class='col-sm-offset-3 col-sm-9'>
        <div class='checkbox'>
          <label for='user_remember_me'>
            <%= f.check_box :remember_me %>
            Ricordami
          </label>
        </div>
      </div>
    </div>
  <% end %>
  <div class='form-group'>
    <div class='col-sm-offset-3 col-sm-9'>
      <%= f.submit 'Login', class: 'btn btn-primary' %>
    </div>
  </div>
  <hr>
  <p>
    <span>Hai dimenticato la password?</span>
    <strong><%= link_to "Resetta la password", new_password_path(resource_name) %> </strong>
  </p>
<% end %>  
