<%= form_tag(user_ldap_omniauth_callback_path, role: 'form') do %>
  <div class='form-group row'>
    <%= label_tag 'username', 'Username', class: 'col-sm-3 col-form-label' %>
    <div class='col-sm-9'>
      <%= text_field_tag :username, nil, {class: 'form-control', autofocus: 'autofocus', placeholder: 'LDAP username'} %>
    </div>
  </div>
  <div class='form-group row'>
    <%= label_tag 'password', 'Password', class: 'col-sm-3 col-form-label' %>
    <div class='col-sm-9'>
      <%= password_field_tag :password, nil, {class: 'form-control bottom', placeholder: 'Password'} %>
    </div>
  </div>
  <% if devise_mapping.rememberable? %>
    <div class='form-group row'>
      <div class='col-sm-3'></div>
      <div class='col-sm-9'>
        <div class='custom-control custom-checkbox'>
          <input name='remember_me' value='0' type='hidden'>
          <input class='custom-control-input' type='checkbox' name='remember_me' id='remember_me' value='1'>
          <label class='custom-control-label' for='remember_me'>
            Ricordami
          </label>
        </div>
      </div>
    </div>
  <% end %>
  <div class='form-group row'>
    <div class='col-sm-3'></div>
    <div class='col-sm-9'>
      <%= submit_tag t('.submit_text'), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
