<%%= bootstrap_form_with(model: @<%= singular_table_name %>, local: true, layout: :horizontal, label_col: 'col-sm-2 col-form-label', control_col: 'col-sm-10') do |f| %>

<% attributes.each do |attribute| -%>
<% if attribute.field_type == :check_box -%>
  <%%= f.form_group :<%= attribute.name %>, label: { text: '<%= attribute.name %>' } do %>
    <%%= f.<%= attribute.field_type %> :<%= attribute.name %>, label: '' %>
  <%% end -%>
<% else -%>
  <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
<% end -%>
<% end -%>

  <div class='form-group row'>
    <div class='col-sm-2'></div>
    <div class='col-sm-10'>
      <%%= f.submit 'Submit', class: 'btn btn-primary' %>
      <%%= back_link class: 'btn btn-secondary float-right' %>
    </div>
  </div>

<%% end %>
