<!DOCTYPE html>
<html>
  <head>
    <title>Made with chaltron</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= content_tag :body, data: { locale: I18n.locale } do %>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/flash' %>
    <div id='content'>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  <% end %>
</html>
